.heroSection {
  position: relative;
  height: 64vh;
  margin: 0 -24px 42px;

  .heroBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .heroContent {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    color: #ffffff;

    h1 {
      font-size: 2em;
      font-weight: 600;
    }
  }
}
