:root {
  /** black **/
  --ion-color-black: #121212;

  /** white **/
  --ion-color-white: #ffffff;

  /** font-family **/
  --ion-font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-color-black: #ffffff;
    --ion-color-white: #121212;
  }
}

ion-grid,
ion-row,
ion-col {
  padding: 0;
  margin: 0;
}

ion-tab-button {
  --padding-bottom: 4px;
}

ion-tab-button::before {
  display: block;
  content: '';
  margin: 0 auto;
  width: 70%;
  height: 4px;
}

ion-tab-button.tab-selected::before {
  background-color: var(--ion-color-primary);
}

ion-button {
  text-transform: none;
  height: 48px;
  margin: 0;
}
